<script lang="ts">
	import type { PageData } from './$types'

	export let data: PageData
</script>

<div style="display: flex; gap: 64px; justify-content: center;">
	<div>
		<h2>Tests</h2>
		{#each data.data.data.project.pipelines.nodes as testReportSummary}
			<pre>{JSON.stringify(testReportSummary, null, 2)}</pre>
		{/each}
	</div>
	<div>
		<h2>Total</h2>
		<div>{JSON.stringify(data.count, null, 2)}</div>
	</div>
</div>
